<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadProducts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 

  <!-- //TODO:: show brand, quantity and unit in a row  -->
  <ion-list>
    <ion-item *ngFor="let product of products">
      {{ product.name }}
    </ion-item>
  </ion-list>
  <ion-button (click)="goToProductCreate()">add product</ion-button>

  
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  <p *ngIf="errorMessage">{{ errorMessage }}</p> 

</ion-content>
