<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Products</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="goToProductCreate()">Add Product</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="loadProducts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 

  <ion-searchbar
  [(ngModel)]="searchTerm"
  (ionInput)="filterProducts($event)"
  placeholder="Search products"
></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let product of filteredProducts" (click)="goToProductDetails(product.id)" [ngClass]="{'odd-item': isOdd(product), 'even-item': !isOdd(product)}">
      <ion-label>
        <h2>{{ product.name }}</h2>
        <ion-button (click)="deleteProduct(product.id)" color="danger">Delete</ion-button>
        <div class="product-info">
          <div class="info-item brand-item">
            <p class="info-value">{{ product.brand.name }}</p>
          </div>
          <div class="unit-quantity-container">
            <div class="info-item">
              <p class="info-value">{{ product.quantity }}</p>
            </div>
            <div class="info-item">
              <p class="info-value">{{ product.unit.name }}</p>
            </div>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>  
  
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  <p *ngIf="errorMessage">{{ errorMessage }}</p> 

</ion-content>
