<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabs/mealprep-tab" href="/tabs/mealprep-tab">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Mealprep</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabs" href="/tabs/recipe-tab">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Recipe</ion-label>
    </ion-tab-button>

  <ion-tab-button (click)="goToProductTab()">
    <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
    <ion-label>Product</ion-label>
  </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
