ion-grid {
    background-color: aqua;
    margin: auto;
}
ion-col {
    margin: auto;
}

ion-button {
    margin: 0 auto; 
}

ion-content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}